<section class="about" id="about">
    <div class="milk"></div>
    <div class="about__container container">
    <p class="about__text label-title">tradition and love</p>
    <h2 class="about__title primary-title">how it’s made?</h2>
    </div>
    <div class="cow container">
    <picture>
        
    </picture>
    <div class="cow__pre">
        <p class="cow__title">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
        </p>
        <p class="cow__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
        </p>
        <p class="cow__text__secondary">
        Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="btn btn--white">
        Read more
        </button>
    </div>
    </div>
</section>