<section class="about" id="about">
    <div class="milk"></div>
        <div class="about__container container">
            <p class="about__text label-title">tradition and love</p>
            <h2 class="about__title primary-title">how it’s made?</h2>
        </div>
            <div class="cow container">
                <picture>
                    <source
                    srcset="
                    ./images/mobile/cow-milk-mobile.png 1x,
                    ./images/mobile/cow-milk-mobile-2x.png  2x
                    "
                    media="(min-width: 320px) and (max-width: 767px)"
                    />
                    <source
                    srcset="
                    ./images/tablet/cow-milk-tablet.png    1x,
                    ./images/tablet/cow-milk-tablet-2x.png 2x
                    "
                    media="(min-width: 768px)and (max-width: 1199px)"
                    />
                    <source
                    srcset="
                        ./images/desktop/cow-milk-desktop.png   1x,
                        ./images/desktop/cow-milk-desktop-2x.png 2x
                    "
                    media="(min-width: 1200px)"
                    />
                    <img
                    src="#"
                    alt="Коровье молоко"
                    class="cow__img"
                    />
                </picture>
    
        <div class="cow__pre">
            <p class="cow__title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
            cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
            justo fringilla.
            </p>
            <p class="cow__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
            Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
            suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            </p>
            <p class="cow__text__secondary">
            Aliquam erat volutpat. Aenean accumsan.
            </p>
            <button class="btn btn--second">
            Read more
            <svg class="btn__icon">
                <use href="./images/vector-left.svg#icon-Vector-1-1"></use>
            </svg>
            </button>
        </div>
        </div>
</section>