<section class="contact section">
<div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact-list">
    <li class="contact-item">
        <div class="contact-item__card">
         <b class="contact-item__subtitle">CAFE</b>
          <ul class="contact-info">

              <li class="contact-info__item">
                <b class="contact-info__subtitle">Chicago</b> 
                 <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>               
              </li>
              <li class="contact-info__item contact-info__item-main">

                <ul>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Monday - Friday</b>
                        <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Saturday - Sunday</b>
                        <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

              </li>
              <li class="contact-info__item">

                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a></li>
                    <li class="contact-info__address">
                        <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com</a></li>
                </ul>
              </li>
          </ul>
        </div>
    </li>
    <li class="contact-item marg-main">
        <div class="contact-item__card">
         <b class="contact-item__subtitle-main">FOOD TRUCK</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                  <b class="contact-info__subtitle">Los Angeles</b>
                   <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Saturday - Sunday</b>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact-info__address">
                        <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com</a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="contact-item">
        <div class="contact-item__card">
        <b class="contact-item__subtitle">CAFE</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                    <b class="contact-info__subtitle">New York</b>
                    <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <h4 class="contact-info__subtitle">Saturday - Sunday</h4>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                    <ul class="contact-info__nav">
                        <li class="contact-info__address">
                            <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-info__address">
                            <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    </ul>
    <ul class="buttons">
    <li class="buttons-list">
        <button type="button" class="button btn--first button-top" data-modal-open-cont>Our Locations<svg width="7px" height="16px" class="svg-top"><use href="./images/vector.svg#icon-vector-1"></use></svg></button>
    </li>
    <li class="buttons-list">
        <button type="button" class="button btn--second button-bot">Franchise<svg width="7px" height="16px" class="svg-top">
            <use href="./images/vector-left.svg#icon-Vector-1-1"></use>
        </svg>
    </button>
    </li>
    </ul>
</div>
</section>
<div class="backdrop-contact is-hidden" data-modal-cont>
    <div class="modal">
        <button type="button" class="button close-buttn" data-modal-close-cont>
            <svg height="16px" width="16px">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380510.6741706505!2d-88.01215025710866!3d41.83390417028436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDSkdC-LCDQhtC70LvRltC90L7QudGBLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1630590916753!5m2!1suk!2sua"
            width="33.3%" height="33.3%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.4355583082!2d-118.69192260663087!3d34.02073049622018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9GW0YTQvtGA0L3RltGPLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1630591040623!5m2!1suk!2sua"
                width="33.3%" height="33.3%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798902705!2d-74.25986790365911!3d40.697670067823786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1630591084983!5m2!1suk!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
