<section class="contact section">
<div class="container contact-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact-list">
    <li class="contact-item">
        <div class="contact-item__card">
         <b class="contact-item__subtitle">CAFE</b>
          <ul class="contact-info">

              <li class="contact-info__item">
                <b class="contact-info__subtitle">Chicago</b> 
                 <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>               
              </li>
              <li class="contact-info__item contact-info__item-main">

                <ul>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Monday - Friday</b>
                        <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Saturday - Sunday</b>
                        <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

              </li>
              <li class="contact-info__item">

                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="" class="contact-info__address-link">+61(0) 383 766 284</a></li>
                    <li class="contact-info__address">
                        <a href="" class="contact-info__address-link">noreply@envato.com</a></li>
                </ul>
              </li>
          </ul>
        </div>
    </li>
    <li class="contact-item marg-main">
        <div class="contact-item__card">
         <b class="contact-item__subtitle-main">FOOD TRUCK</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                  <b class="contact-info__subtitle">Los Angeles</b>
                   <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Saturday - Sunday</b>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="" class="contact-info__address-link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact-info__address">
                        <a href="" class="contact-info__address-link">noreply@envato.com</a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="contact-item">
        <div class="contact-item__card">
        <b class="contact-item__subtitle">CAFE</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                    <b class="contact-info__subtitle">New York</b>
                    <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <h4 class="contact-info__subtitle">Saturday - Sunday</h4>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                    <ul class="contact-info__nav">
                        <li class="contact-info__address">
                            <a href="" class="contact-info__address-link">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-info__address">
                            <a href="" class="contact-info__address-link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    </ul>
    <ul class="buttons">
    <li class="buttons-list">
        <button type="button" class="button btn--first button-top">Our Locations<svg width="7px" height="16px" class="svg-top"><use href="./images/vector.svg#icon-vector-1"></use></svg></button>
    </li>
    <li class="buttons-list">
        <button type="button" class="button btn--second button-bot">Franchise<svg width="7px" height="16px" class="svg-top">
            <use href="./images/vector-left.svg#icon-Vector-1-1"></use>
        </svg></button>
    </li>
    </ul>
</div>
</section>