<section>
  <div>
      <picture>
          <source srcset="../images/tablet/gallery-tablet.png 1x, ../images/tablet/gallery-tablet.png 2x"
            media="(min-width: 1200px)">
    <source srcset="../images/tablet/webp/gallery-tablet.webp 1x, ../images/tablet/webp-2x/gallery-tablet-2x.webp 2x"
      media="(min-width: 1200px)">
    <source srcset="../images/tablet/webp/gallery-tablet.webp 1x, ../images/tablet/webp-2x/gallery-tablet.webp 2x"
        media="(min-width: 1200px)">
        <img src="#" alt="">
      </picture>
  </div>
</section>
