<header>
    <div class="container"> 
        <a href="" class="logo">
            <picture>
                <source srcset="" media="()">
            </picture>
        </a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">How it’s made?</a></li>
            <li><a href="">Our products</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button type="button" class="button">Buy now</button>
    </div>
</header>

<section class="hero">
    <div class="container">
        <div>
            <h1 class="title">ice cream made with pass ion</h1>
            <ul>
                <li><button type="button" class="button">Products</button></li>
                <li><button type="button" class="button">How it’s made?</button></li>
            </ul>
        </div>

        <div>
            <picture>
                <source srcset="" media="()">
            </picture>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button"> <svg><use></use></svg> </button>
        </div>

        <ul>
            <li>
                <p>16</p>
                <p>cafes</p>
                <svg><use></use></svg>
            </li>
            <li>
                <p>23</p>
                <p>food trucks</p>
                <svg><use></use></svg>
            </li>
        </ul>

        <picture>
            <source srcset="" media="()">
        </picture>
    </div>
</section>