
<section class="hero">

    <header class="header">
        <div class="container header__cont"> 
            <a href="/" class="logo">
                <picture>
                    <source srcset="../src/images/logo.png 1x, ../src/images/logo-2x.png 2x" type="image/png">
                    <img src="#" alt="logo">
                </picture>
            </a>
            <nav  class="header__nav">
                <ul class="list header__list-nav-link">
                    <li class="header__list-nav-link--mr"><a class="link header__item-list-nav-link header__item-list-nav-link--color-pink" href="">Home</a></li>
                    <li class="header__list-nav-link--mr"><a class="link header__item-list-nav-link" class="link " href="">About us</a></li>
                    <li class="header__list-nav-link--mr"><a class="link header__item-list-nav-link" href="">How it’s made?</a></li>
                    <li class="header__list-nav-link--mr"><a class="link header__item-list-nav-link" href="">Our products</a></li>
                    <li class="header__list-nav-link--mr"><a class="link header__item-list-nav-link" href="">Contact</a></li>
                </ul>
            </nav>
            <!-- <button type="button" class="button btn--second button-color-white-header"><span class="text-btn-white-header">Buy now</span></button> -->
            <button class=" button-color-white-header button">Buy now
                <svg class="close-btn-icon" width="40" height="40">
                    <use href="./images/sprite.svg#buy-mow"></use>
                </svg>
            </button>
        </div>
    </header>

    <div class="container hero__cont-flex">
        <div class="hero__cont-flex-title-sale">
            
            <div class="hero__title-and-btn">
                <h1 class="hero__secondary-title">ice cream made with <span class="title">passion</span></h1>
                <ul class="hero__list-btn list">
                    <li><button type="button" class="button btn--first btn--first--mr">Products</button></li>
                    <li><button type="button" class="button btn--second">How it’s made?</button></li>
                </ul>
            </div>

            <ul class="list hero__list-points-sale">
                <li class="hero__items-cafes-food-trucks">
                    <p class="hero__item-numbers">16</p>
                    <p class="hero__item">cafes</p>
                </li>
                <li class="hero__items-cafes-food-trucks">
                    <p class="hero__item-numbers">23</p>
                    <p class="hero__item">food trucks</p>
                </li>
            </ul>
        </div>

        <div class="hero__some-cont">
            <div class="hero__some-cont-lorem">
                <p class="hero__lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="arrow-button"></button>
            </div>
        </div>

        <picture>
            <source srcset="" media="()">
        </picture>
    </div>
</section>