<section class="products section">
    <div class="container">
        <b class="products-secondary-title title">100% natural</b>
        <h2 class="products-title title">products</h2>

        <ul class="products-list list">
            <li class="products-item">
                <picture class="products-picture">

                </picture>
                <h3 class="products-item-subtitle title">ice cream</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button type="button" class="products-card-swap-button">
                    <svg class="swap-button-icon" width="5" height="5">
                        <use></use>
                    </svg>
                </button>
            </li>
            <li class="products-item">
                <picture class="products-picture">

                </picture>
                <h3 class="products-item-subtitle title">ice coffee</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button type="button" class="products-card-swap-button">
                    <svg class="swap-button-icon" width="5" height="5">
                        <use></use>
                    </svg>
                </button>
            </li>
            <li class="products-item">
                <picture class="products-picture">

                </picture>
                <h3 class="products-item-subtitle title">milkshakes</h3>
                <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <button type="button" class="products-card-swap-button">
                    <svg class="swap-button-icon" width="5" height="5">
                        <use></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>