// background
.contact {
  background-image: linear-gradient(to top, var(--bg-color-alt) 96.7%, white 3.3%);
}
@media screen and (min-width: 768px) {
  .contact {
    background-image: linear-gradient(to top, var(--bg-color-alt) 90.5%, white 9.5%);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// КАРТОЧКИ //
@media screen and (max-width: 767px) {
  .contact-list {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: flex;
  }
}

.contact-item {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  background-color: white;
  max-width: 220px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-item {
    max-width: 330px;
    padding: 51px 43px;
  }
}

.contact-item__subtitle {
  background-color: #f0d1a5;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 80px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .contact-item__subtitle {
    font-size: 16px;
    width: 73px;
    height: 28px;
  }
}

.contact-item__subtitle-main {
  background: #c2e297;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 130px;
  height: 16px;
  color: var(--btn-color__alt);
}
@media screen and (min-width: 768px) {
  .contact-item__subtitle-main {
    font-size: 16px;
    width: 138px;
    height: 28px;
  }
}
.contact-info__item {
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact-info__item-main {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.contact-info__subtitle {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .contact-info__subtitle {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info__subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}
.contact-info__text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--txt-color-base);
}
@media screen and (min-width: 768px) {
  .contact-info__text {
    font-size: 14px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info__text {
    font-size: 16px;
    line-height: 30px;
  }
}
.contact-info__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .contact-info__time {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info__time {
    font-size: 16px;
    line-height: 30px;
  }
}
.time {
  margin-bottom: 10px;
}
.contact-info__address-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--txt-color-base);
}
@media screen and (min-width: 767px) {
  .contact-info__address-link {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info__address-link {
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767px) {
  .marg-main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
// Button
.buttons {
  margin-top: 54px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .buttons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .buttons-list:not(:last-child) {
    margin-bottom: 10px;
  }
}
.button-top {
  background: #d41342;
  border-radius: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--btn-color__alt);
  border: none;
  cursor: pointer;
  width: 161.45px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767px) {
  .button-top {
    width: 190px;
    height: 44px;
  }
}
@media screen and (min-width: 767px) {
  .button-top {
    margin-right: 10px;
  }
}
.button-bot {
  background: var(--bg-color-base);
  color: var(--btn-color__base);
  border-radius: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 161.45px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767px) {
  .button-bot {
    width: 174px;
    height: 44px;
  }
}
.svg-top {
  margin-top: 3.5px;
  margin-left: 9px;
}
