.products {
    letter-spacing: 0.04em;
    text-align: center;
}

.products-container {
    padding-top: 120px;
    padding-bottom: 100px;
}

.products-secondary-title {
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 15px;
    display: block;
    color: #FFA5BA;
}

@media screen and (min-width:768px) {
    .products-secondary-title {
    font-size: 26px;
    }
}

@media screen and (min-width:1280px) {
    .products-secondary-title {
    font-size: 30px;
    }
}

.products-title {
    font-size: 34px;
    line-height: 1.15;
    margin-bottom: 144px;
    color: #D41443;
}

@media screen and (min-width:768px) {
    .products-title {
        font-size: 48px;
    }
}

@media screen and (min-width:1280px) {
    .products-title {
        font-size: 58px;
        margin-bottom: 259px;
    }
}

.products-list {
    text-align: center;
}

.products-item {
    position: relative;
    // text-align: center;
    border-radius: 24px;
    
    height: 100%;
    max-width: 280px;
    margin: 0 auto;
    color: #ffffff;


    
    &:first-child {
        background-color: #FFB8CA;
    }
    &:nth-child(2) {
        background-color: #F0D1A5;
    }
    &:nth-child(3) {
        background-color: #C2E297;
    }
}

.card-frontside {
    padding-top: 160px;
    padding-bottom: 40px;
}

.card-backside {
    display: none;
    background: #8e5296;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    transform: translateY(-100%) rotateY(180deg);
}

@media screen and (max-width: 767px) {
    .products-item:not(:last-child) {
        margin-bottom: 130px;
    }

    .card-frontside {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (min-width: 768px) {
    .products-list {
        display: flex;
        margin-top: -20px;
        margin-left: -20px;
    }

    .products-item {
        // max-width: 220px;
        flex-basis: calc((100% - 20px) / 3);
        margin-top: 20px;
        margin-left: 20px;
        flex-grow: 1;
    }

    .card-frontside {
        padding-left: 11px;
        padding-right: 11px;
    }
}

@media screen and (min-width: 1280px) {
    .products-list {
        margin-top: -30px;
        margin-left: -30px;
    }

    .products-item {
        // max-width: 220px;
        flex-basis: calc((100% - 30px) / 3);
        margin-top: 30px;
        margin-left: 30px;
    }

    .card-frontside {
        padding-left: 44px;
        padding-right: 44px;
    }
}

.products-img {
    position: absolute;
    transform: translateX(-2%) translateY(-273px);
}

@media screen and (max-width: 479px) {
    .products-img {
        transform: translateX(-2%)  translateY(-273px);
    }
}

@media screen and (min-width: 768px) {
    .products-img {
        transform: translateX(-5.3%)  translateY(-262px);
    }
}

@media screen and (min-width: 1280px) {
    .products-img {
        transform: translateX(-16%)  translateY(-340px);
    }
}

.products-item-subtitle {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;

    &::after {
        content: "";
        display: block;
        background-image: url("../images/group-three-dots.png");
        background-repeat: no-repeat;
        width: 26px;
        height: 6px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px) {
    .products-item-subtitle {
        font-size: 30px;
    }
}

.products-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
    .products-item-text {
        font-size: 16px;
    }
}

.products-card-swap-button {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
}







// АНИМАЦИЯ КАРТОЧЕК

@keyframes changeVisible {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}