.customer-rev {
  padding-top: 80px;
  padding-bottom: 86px;
}
.customer-rev-list {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
}
.customer-rev-item {
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}
.customer-text-decoration {
  max-width: 180px;
  text-align: center;
  padding: 0 5px;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    #ffffff 1px,
    #ffffff 30px
  );
  @media screen and (min-width: 768px) {
    max-width: 524px;
    .customer-text {
      max-width: 460px;
    }
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #ffffff 1px,
      #ffffff 30px
    );
  }
}
// .customer-picture {
//   width: 100%;
//   height: ;
// }
.customer-image {
  margin: 0 auto 57px auto;
}
.customer-wrap {
  // position: relative;
  &::before {
    display: block;
    content: url('../images/three-dots-pink.png');
    width: 32px;
    height: 4px;
    margin: 47px auto 18px auto;
  }
}
.customer-text {
  color: #000000;

  // font-family: DM Sans;
  // font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  /* or 31px */

  position: relative;

  @media screen and (min-width: 768px) {
    // font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    /* or 30px */
    // letter-spacing: 0.04em;
  }
  // position: relative;
}
.customer-text::before {
  content: url('../images/sprite.svg#github');
  fill: #000000;
  display: block;
  width: 54px;
  height: 40px;
  // background-color: teal;
  // position: absolute;
}
.customer-text::after {
  content: url();
}
// .customer-text::before {
//   content: url('../images/sprite.svg#quotes-right');
//   fill: #000000;
//   display: block;
//   width: 54px;
//   height: 40px;
//   // background-color: teal;
//   position: absolute;
// }
// .customer-text::after {
//   content: url('../images/three-dots-pink.png');
//   display: block;
//   width: 32px;
//   height: 4px;
//   margin: 47px auto 15px auto;
//   // margin-top: 47px;
//   // margin-bottom: 15px;
// }
.customer-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  /* or 26px */
  display: block;
  color: #000000;
}
